{% macro grant_cnxn(db) %}

GRANT CONNECT ON DATABASE {{ db }} TO public;
GRANT CONNECT ON DATABASE {{ db }} TO {{ db_user }};

{% endmacro %}

{% for db in dbs_to_grant %}
{{ grant_cnxn(db) }}
{% endfor %}